@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&display=swap');

/* Or define the font locally if you have the font files */
@font-face {
  font-family: 'Khmer OS Battambang';
  src: url('/fonts/KhmerOSBattambang.woff2') format('woff2'),
       url('/fonts/KhmerOSBattambang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}