APP_NAME=Recruitment
ENVIRONMENT=development

# JWT configuration
JWT_SECRET_KEY=77407c7339a6c00544e51af1101c4abb4aea2a31157ca5f7dfd87da02a628107
JWT_ALGORITHM=HS256

# Database URL
DATABASE_URL=postgresql://postgres:admin123@localhost/recruitment_db

# Allowed Origins (React frontend)
#ALLOWED_ORIGINS=["http://localhost:3000", "http://127.0.0.1:3000"]

ALLOWED_ORIGINS=["http://localhost:5173", "http://localhost:3000", "http://192.168.18.11:8000", "http://192.168.18.11:8080"]

# Livekit Configurations
LIVEKIT_API_KEY = APIt5tQWfqpSayw
LIVEKIT_API_SECRET = SwumDcEDDcY5QTtl9HWjYFii9QnrNeEB8I7k0NDh4rH
LIVEKIT_URL=wss://recruitment-application-admin-ztsmedp5.livekit.cloud

#local
LOG_DIR=logs

#production 
#LOG_DIR=/var/log/myapp